flows.json
[
    {
        "id": "d3c4c3140d5ff4fc",
        "type": "tab",
        "label": "Server Port 10502 (Slave)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "791e7f49619b99e7",
        "type": "junction",
        "z": "d3c4c3140d5ff4fc",
        "x": 900,
        "y": 420,
        "wires": [
            [
                "2078cb8445e02774"
            ]
        ]
    },
    {
        "id": "5f287606748d38a2",
        "type": "modbus-client",
        "name": "Port 10502",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9099cd034c2f647c",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "holding ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1560,
        "y": 360,
        "wires": []
    },
    {
        "id": "381d5dd22446e561",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "coils ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1550,
        "y": 400,
        "wires": []
    },
    {
        "id": "bb1ff98cfacdf44d",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "input ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1550,
        "y": 440,
        "wires": []
    },
    {
        "id": "4c95db44ee1ba74f",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "discrete inputs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1580,
        "y": 480,
        "wires": []
    },
    {
        "id": "2078cb8445e02774",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "Set holding register",
        "func": "msg.payload = { \n    'value': msg.payload, \n    'register': 'holding', \n    'address': msg.topic,\n    'disablemsg' : 1\n} ;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "8aa41c75ea45526e"
            ]
        ]
    },
    {
        "id": "ebd559dfc475d04e",
        "type": "modbus-flex-getter",
        "z": "d3c4c3140d5ff4fc",
        "name": "Modbus Flexible Read",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "5f287606748d38a2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "99448a87c336aa6f",
                "2676e0addff40b94",
                "12a9abe37e1927f8"
            ],
            [
                "de13c7d67aa71951",
                "3ec03387145edcf8"
            ]
        ]
    },
    {
        "id": "99448a87c336aa6f",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "de13c7d67aa71951",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "3ec03387145edcf8",
        "type": "modbus-response",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "registerShowMax": 20,
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "12a9abe37e1927f8",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "2676e0addff40b94",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "responseBuffer",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "267abd856c0d37b2",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "FC3",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address': msg.address , 'quantity': 7 }\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "ebd559dfc475d04e"
            ]
        ]
    },
    {
        "id": "04602c1b400f42ee",
        "type": "comment",
        "z": "d3c4c3140d5ff4fc",
        "name": "Flexible Read Holding Registers",
        "info": "",
        "x": 150,
        "y": 620,
        "wires": []
    },
    {
        "id": "90761fc8c0f51941",
        "type": "inject",
        "z": "d3c4c3140d5ff4fc",
        "name": "Address 2000",
        "props": [
            {
                "p": "address",
                "v": "1000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "267abd856c0d37b2"
            ]
        ]
    },
    {
        "id": "c5ab500396598af7",
        "type": "inject",
        "z": "d3c4c3140d5ff4fc",
        "name": "Create new data points",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "af6679a0c95fb418",
                "5617805485aca65c",
                "5e53b5c2f6ffa604",
                "2443af37e9bb0467",
                "cc7a0998051d0777",
                "07c7d211d2861e76",
                "0d9c95862ed6e898"
            ]
        ]
    },
    {
        "id": "af6679a0c95fb418",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "R: Motor Torque (HR1004:660) [500-700]",
        "func": "function generateRandomFloatInRange(min, max) {\n    return (Math.random() * (max - min)) + min;\n}\n\nmsg.payload = Math.round(generateRandomFloatInRange(500, 700));\nmsg.topic = 1004;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "38613b46411f158c",
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "5617805485aca65c",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "D: Motor Current (HR1003:96) [85-105]",
        "func": "let upperLimit = 105;\nlet lowerLimit = 85;\nlet diff = upperLimit - lowerLimit;\nlet step = diff / 50;\nlet value = flow.get('motorCurrent') || 96;\n\nlet newValue = value + ( Math.random() < 0.5 ? step : -step );\n\nif ( newValue < lowerLimit) {\n    let action = \"LL - was: \" + newValue + \"  new: \";\n    newValue = newValue + step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nif ( newValue > upperLimit) {\n    let action = \"UL - was: \" + newValue + \"  new: \";\n    newValue = newValue - step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nflow.set('motorCurrent', newValue);\n\n\nmsg.payload = newValue;\nmsg.topic = 1003;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "a2e629cfa7b60ead",
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "a2e629cfa7b60ead",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "HR1003",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "38613b46411f158c",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "HR1004",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "cc7a0998051d0777",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "D: Motor Voltage (HR1002:700) [690-710]",
        "func": "let upperLimit = 710;\nlet lowerLimit = 690;\nlet diff = upperLimit - lowerLimit;\nlet step = diff / 50;\nlet value = flow.get('motorVoltage') || 700;\n\nlet newValue = value + ( Math.random() < 0.5 ? step : -step );\n\nif ( newValue < lowerLimit) {\n    let action = \"LL - was: \" + newValue + \"  new: \";\n    newValue = newValue + step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nif ( newValue > upperLimit) {\n    let action = \"UL - was: \" + newValue + \"  new: \";\n    newValue = newValue - step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nflow.set('motorVoltage', newValue);\n\n\nmsg.payload = newValue;\nmsg.topic = 1002;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "ea4beb069d1f89ef",
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "5e53b5c2f6ffa604",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "D: Output Frequency (HR1001:3665) [3500-3700]",
        "func": "let upperLimit = 3750;\nlet lowerLimit = 3500;\nlet diff = upperLimit - lowerLimit;\nlet step = diff / 50;\nlet value = flow.get('frequency') || 3665;\n\nlet newValue = value + ( Math.random() < 0.5 ? step : -step );\n\nif ( newValue < lowerLimit) {\n    let action = \"LL - was: \" + newValue + \"  new: \";\n    newValue = newValue + step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nif ( newValue > upperLimit) {\n    let action = \"UL - was: \" + newValue + \"  new: \";\n    newValue = newValue - step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nflow.set('frequency', newValue);\n\n\nmsg.payload = newValue;\nmsg.topic = 1001;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "f5a2bd251e8d927d",
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "2443af37e9bb0467",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "S: AC Drive Status Word (HR2000:6)",
        "func": "// Static Value\nmsg.payload = 6;\nmsg.topic = 1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "07c7d211d2861e76",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "D: Control Card Temperature C (HR1006:230) [180-250]",
        "func": "let upperLimit = 250;\nlet lowerLimit = 180;\nlet diff = upperLimit - lowerLimit;\nlet step = diff / 50;\nlet value = flow.get('controlCardTemperature') || 230;\n\nlet newValue = value + ( Math.random() < 0.5 ? step : -step );\n\nif ( newValue < lowerLimit) {\n    let action = \"LL - was: \" + newValue + \"  new: \";\n    newValue = newValue + step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nif ( newValue > upperLimit) {\n    let action = \"UL - was: \" + newValue + \"  new: \";\n    newValue = newValue - step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nflow.set('controlCardTemperature', newValue);\n\n\nmsg.payload = newValue;\nmsg.topic = 1006;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "a8c0c98c17652080",
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "0d9c95862ed6e898",
        "type": "function",
        "z": "d3c4c3140d5ff4fc",
        "name": "D: DC Bus Voltage (HR1005:401) [375-425]",
        "func": "let upperLimit = 425;\nlet lowerLimit = 375;\nlet diff = upperLimit - lowerLimit;\nlet step = diff / 50;\nlet value = flow.get('busVoltageDC') || 400;\n\nlet newValue = value + ( Math.random() < 0.5 ? step : -step );\n\nif ( newValue < lowerLimit) {\n    let action = \"LL - was: \" + newValue + \"  new: \";\n    newValue = newValue + step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nif ( newValue > upperLimit) {\n    let action = \"UL - was: \" + newValue + \"  new: \";\n    newValue = newValue - step;\n    action = action + newValue;\n    node.warn(action);\n}\n\nflow.set('busVoltageDC', newValue);\n\n\nmsg.payload = newValue;\nmsg.topic = 1005;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "791e7f49619b99e7"
            ]
        ]
    },
    {
        "id": "ea4beb069d1f89ef",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "HR1002",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "f5a2bd251e8d927d",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "HR1001",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8c0c98c17652080",
        "type": "debug",
        "z": "d3c4c3140d5ff4fc",
        "name": "HR1005",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "6e1c45f088592281",
        "type": "comment",
        "z": "d3c4c3140d5ff4fc",
        "name": "Write Holding Registers to the Modbus Flex Server (Slave)",
        "info": "",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "ee168641d9b2a5c9",
        "type": "comment",
        "z": "d3c4c3140d5ff4fc",
        "name": "Ekstrom R2D2 Variable Frequency Drive (S: Static, D: Dynamic, R:Random)",
        "info": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "8aa41c75ea45526e",
        "type": "modbus-flex-server",
        "z": "d3c4c3140d5ff4fc",
        "name": "",
        "logEnabled": true,
        "serverAddress": "",
        "serverPort": "10502",
        "responseDelay": 100,
        "unitId": 1,
        "delayUnit": "ms",
        "coilsBufferSize": 20000,
        "registersBufferSize": 20000,
        "minAddress": 0,
        "splitAddress": 10000,
        "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
        "funcGetDiscreteInput": "function getFlexDiscreteInput(addr, unitID) {\n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
        "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
        "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
        "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
        "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
        "showErrors": true,
        "x": 1340,
        "y": 420,
        "wires": [
            [
                "9099cd034c2f647c"
            ],
            [
                "381d5dd22446e561"
            ],
            [
                "bb1ff98cfacdf44d"
            ],
            [
                "4c95db44ee1ba74f"
            ],
            []
        ]
    }
]